<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button
  pButton
  type="button"
  (click)="mostrarPorConsola()"
  label="Mostrar por consola"
  icon="pi pi-check-square"
  iconPos="right"
  class="p-button-help"
></button>

<br />
<br />

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
  <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, esse. Sunt rem
    non nihil amet vel minus deserunt, possimus tenetur aut quod pariatur
    laudantium debitis placeat consequuntur. Dolore, velit eum.
  </p>
</p-card>
